body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom right, black, rgb(27, 58, 233));
 }

 .form{
    padding: 40px;
    border-radius: 5px;
    width: 250px;
 }

 .form h1{
    text-align: center;
    color: white;
 }

.form label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.form input{
    width: 250px;
    height: 30px;
    border-radius: 7px;
    margin: 0 auto 10px;
    padding-bottom: 5px;
    border: none;
}

.form button{
    margin: 0 auto;
    margin-top: 5%;
    width: 40%;
    height: 35px;
    border-radius: 7px;
    border: none;
    background-color: rgb(28, 16, 194);
    color: white;
    font-weight: bolder;
    font-size: 17px;
    display: block;
}

#login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}